.spinner {
    border: 6px solid rgba(255, 255, 255, 0.1);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border-left-color: #E2DDBD;

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
