:global(html, body, #root) {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
    height: 95%;
    margin: 0;
    padding: 0;
    background-color: #1A1A1A;
    color: #E2DDBD;
    font-family: 'Montserrat', sans-serif;
}

.main_window {
    background-color: #1A1A1A;
    width: 100%;
    height: 100%;
}

.with_nav {
    color: white;
    font-size: 24px;
    margin: 100px auto 0 auto;
    width: 100%;
    max-width: 1440px;
    height: calc(100vh - 100px);
}

.without_nav {
    color: white;
    font-size: 24px;
    width: 100%;
    height: 100%;
}
